xml-demo/src/main/java/jaxb.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="columns">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="column" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="headerText"/>
                    <xs:element name="columns" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="column" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="headerText"/>
                                <xs:element type="xs:string" name="dataField"/>
                                <xs:element type="xs:string" name="dataType"/>
                                <xs:element type="xs:byte" name="width"/>
                                <xs:element type="xs:string" name="export"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="dataField" minOccurs="0"/>
                    <xs:element type="xs:string" name="dataType" minOccurs="0"/>
                    <xs:element type="xs:byte" name="width" minOccurs="0"/>
                    <xs:element type="xs:string" name="export" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>